@font-face {
    font-family: Bemio;
    src: url('assets/bemio.otf');
}
@font-face {
    font-family: Apercu;
    src: url('assets/apercu_regular-webfont.ttf');
}
.main {
    margin: auto;
    padding-top: 5em;
    width: 50%;
    color: #F49C77;
    min-width: 800px;
    font-family: 'Apercu';
    align-content: center;
}
.logo {
    width: 300px;
    align-items: center;
}
h1 {
    font-family: 'Bemio';
}
html {
    background-color: #384B87;
}