@font-face {
    font-family: Bemio;
    src: url('assets/Bemio.otf');
}
@font-face {
    font-family: Apercu;
    src: url('assets/apercu_regular-webfont.ttf');
}
.main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    padding: 2em;
    width: 50%;
    color: #F49C77;
    min-width: 1120px;
    font-family: 'Apercu';
    align-content: center;
}
.logo {
    width: 300px;
}
.right-text {
    width: 736px;
    padding: 1em;
    vertical-align: center;
}
h1 {
    font-family: 'Bemio';
}
.row {
    padding: 0;
}
html {
    background-color: #384B87;
}
a:link, a:visited {
    color: #F49C77;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #F49C77;
    color: #384B87;
}