body {
  background-color: #ffe;
  font-family: "Times New Roman";
  -webkit-text-stroke: 0px !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
